 /**
 This stylesheet is part of the java script calendar and date picker
  **/
#calender {
	width: 200px;
	
	}

#calenderTable {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: #0D0D0D;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	}

#calenderTableHead TR {
	background-color: #0d0d0d;
	}

#calenderTableDays TR {
	background-color: #00275e;
	/*color: #E6E6E6;*/
	}

.normalDay {
	border: 1px dotted black;
	cursor: pointer;
	}

.hlDay {
	border: 1px black;
	background-color: #585858;
	color: #fff;
	cursor: pointer;
	}

.toDay {
	border: 1px solid #000;
	background-color: #00275e;
	font-weight: bold;
	cursor: pointer;
	}

.choosenDay {
	border: 1px #000000;
	background-color: #585858;
	/*color: #E6E6E6;*/
	font-weight: bold;
	cursor: pointer;
	}
