#main {
width:960px;
margin:50px auto;
font-family:raleway
}
body
{
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-family: arial, helvetica, geneva, sans-serif;

	background-color: #aaa;
	color: #989898;
	margin:10px auto;
	font-size:0.8em;
	min-width:800px;
	background: rgb(125,126,125); 
	 /* fallback */
	background-color: #333;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#999));  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #333, #999);  /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #333, #999);  /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #333, #999);  /* IE 10 */
    background: -o-linear-gradient(top, #333, #999);/* Opera 11.10+ */  
}
span {
color:red
}

hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:300px;
float:left;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 40px 25px;
margin:30px
}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
input[type=submit] {
width:100%;
background-color:#989898;
color:#fff;
border:2px solid #fff;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}