::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #969696;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #2B2B2B;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #1A1A1A;
}
body{
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-family: arial, helvetica, geneva, sans-serif;

	background-color: #aaa;
	color: #989898;
	margin:10px auto;
	font-size:0.8em;
	min-width:800px;
	background: rgb(125,126,125); 
	 /* fallback */
	background-color: #333;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#999));  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top, #333, #999);  /* Safari 5.1, Chrome 10+ */
    background: -moz-linear-gradient(top, #333, #999);  /* Firefox 3.6+ */
    background: -ms-linear-gradient(top, #333, #999);  /* IE 10 */
    background: -o-linear-gradient(top, #333, #999);/* Opera 11.10+ */  
}
hr{
	width:auto;
}
p{
	text-indent:30px;
}
a:link{
	/*color:#00275e;
	text-decoration:none;*/
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

a:visited{
/*	color:#000000;
	text-decoration:none;*/
	color: #FFF;
	font-weight: bold;
	text-decoration: none;

}
a:hover{
	/*color:#000;*/
	color: #FFF;
	text-decoration: underline;
}

input:hover, input:focus, textarea:hover, textarea:focus, select:hover,select:focus{  
         border-color:#00275e;
         color:#fff;
         box-shadow: rgba(0,0,0, 0.1) 0px 0px 15px;
          -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 10px;  
     -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 10px; 
        }
.select{
	border-color:#fff;
	border-style:solid;
	border-width:1px;
	background-color:#333;
	color:#fff;
}
.text{
	/*background-color:#317082;*/
	background:#1E1E1E;
	border:1px solid #A8B1B8;
	color:#fff;
	/*color:#000;*/
	  box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;  
     -moz-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;  
     -webkit-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px; 
    text-align: left;
    padding: 1px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
/*pt search input add icon*/
.inputboxSearch {
	border:1px solid #A8B1B8;
	color:#fff;
	/*color:#000;*/
	  box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;  
     -moz-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;  
     -webkit-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px; 
       text-align: left;
    padding: 1px;
    background:url('images/magnifying-glass.gif') no-repeat right center;
}
fieldset{
	border:2px solid #1e1e1e;
	width:auto;
}
legend{
	color:#fff;
	padding: 2px 6px;
	text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;
	font-size:12px;
}
sup {
	text-align:right;
	color:red;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~creaza tabel cu div~~~~~~~~~~~~*/
#table {display: table;width:100%;}
.row {display: table-row;}
.cell {display: table-cell;width:auto;border:1px solid #333;padding:1px;text-align:left;}

/*table */

table{
    border-spacing: 0px;
    font-size:12px;
	border: 0.5px solid #A8B1B8;
border-collapse: separate;
border-radius: 4px;
border-spacing: 0px;
text-align:center;
}
.tabel_mare{
	margin-left:50px;
	width:543px;
	text-align:left;
	border: 0.5px solid #A8B1B8;
}
.albastru{
	background-color:blue;
}
.rosu {
	background-color:red;
}
.th
{
    text-align: left;
    padding: 1px;
    border: 1px solid #A8B1B8;
    background-color: #00275e;
}
.tr2{
	background:#333;
}
tr:hover{
background:#000;
/*opacity:1.2;*/
}
.td {
    text-align: left;
    padding: 2px;
    border:1px solid #A8B1B8;
	border-right: 1px solid #A8B1B8;
	height:16px;
   /* background: #e3f0f7;*/
}
a {
	
    display:block;
    /*height:13px;*/
	-webkit-border-radius:1em;
}
#bt
{
	cursor:pointer;
	/*background:#1E1E1E;*/

}
/*end table*/
textarea{
resize: none;

 box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;  
     -moz-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;  
     -webkit-box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px; 
   /*  overflow:hidden;*/
}
select{
	cursor:pointer;
}
option
	{
	color:#fff;
}
.logo{  

	position: fixed;
	/*height: 20px;*/
	float:right;
	margin-left:-70px;
	margin-top:180px;
	text-decoration:underline;
	color: #1e1e1e1;
	text-shadow: -1px -3px 10px #000,
                       1px 1px 1px #000;
					   font-size: 25px;  
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	}
.logodr{
	position: fixed;
	float:right;
	margin-left:799px;
	margin-top:75px;
	text-decoration:underline;
	color: #1e1e1e1;
	text-shadow: -1px -3px 10px #000,
                       1px 1px 1px #000;
					   font-size: 25px;  

}
.content{
	width:800px;
	height:auto;
	text-align:justify;
	background:#1E1E1E;
	color:#fff;
	margin:0px;
	padding:0;
	min-height:435px;
}
.tot{
	text-align:right;
	text-transform:capitalize;
	font-variant: small-caps;
	height:5px;
	background-color:#1E1E1E;
	border-top-style:solid;
	border-width:2px;
	border-color:#333;
	width:800px;
	-moz-border-radius-topright: 1em;
border-top-right-radius: 1em;
border-top-left-radius: 1em;
}
.bottom{
font-family : Verdana, Arial, Helvetica, sans-serif;
	text-align:right;

	background-color:#1E1E1E;
	border-top-style:solid;
	border-width:2px;
	border-color:#333;
	width:800px;
	-moz-border-radius-bottomright: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;
}
.title{

	text-transform:capitalize;
	font-variant: small-caps;
	font-size:13px;
	text-align:center;
	color:#fff;
	border-bottom-style:solid;
	border-width:2px;
	border-color:#333;
	/*height:20px;*/
	text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;
}
.submenu{
	margin-top:3px;
	text-transform:capitalize;
	color:#fff;
	text-indent:25px;
	height:20px;
	border-bottom-style:solid;
	border-width:2px;
	border-color:#333;
	margin:0;
/*	text-shadow: 0 -1px #000, 1px 0 #000, 0 1px #000, -1px 0 #000;*/
}
.submenu a{
	display:inline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~calendar*/
.normal {
/*font-family: Helvetica,Arial;
font-size: 12px;*/
color: #333;

} 
.today {
/*font-family: Helvetica,Arial;
font-size: 12px;*/
color: #FFFFFF;
background-color: #CACACA;
} 
.selected {
/*font-family: Helvetica,Arial;
font-size: 12px;*/
color: #FFFFFF;
background-color: #C00000;
} 
.event {
/*font-family: Helvetica,Arial;
font-size: 12px;*/
color: #000000;
background-color: #C6D1DC;
} 
/*calendar*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~`taburile  */
		#page-wrap { width: 780px; margin: 10px 10px auto; }
        #ie-test { position: relative; width: 100%;	}
        #boxLinks { list-style: none; overflow: hidden; }
        #boxLinks li {  display: inline; }
        #boxLinks li a { padding: 5px 10px; color: fff; text-decoration: none; border: 1px solid #ccc;float:left; display: block; margin-left: -1px; position: relative; left: 1px; }
        #boxLinks li a:hover { color: #fff; background: blue;}
        #box { height: 500px; border: 1px solid #ccc; overflow: hidden; padding: 0px 30px 0px 30px; position: relative; top: -1px;		-moz-border-radius-bottomright: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em; ;}
        .box { display: none; height: 500px; overflow: auto; display: block; position: relative; overflow-x: hidden;		-moz-border-radius-bottomright: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em; }
        #box1:target, #box2:target, #box3:target { display: block; 		-moz-border-radius-bottomright: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;}

    <!--[if IE]>
    <style type="text/css">
        .box { display: block; }
        #box { overflow: hidden;position: relative;margin:auto; }
        b { position: absolute; top: 0px; right: 0px; width:1px; height: 251px; overflow: hidden; text-indent: -9999px; }
    </style>
    <![endif]-->
/*~~~~~~~~~~~~~~~~~~header~~~~~~~~~~~~~``*/
#header
{
    clear: both;
    height:20px;
 	
    color: White;
    padding: 4;
    text-align: center;/*
    vertical-align: middle;
    */line-height: normal;
    margin: 0;
    position: fixed;
    top: 0px;
    width: 150px;
    background-color:#333;
}
.close{
		background:red;
		color:#fff;
		line-height:25px;
		position:absolute;
		right:0px;
		text-align:center;
		top:-3px;
		width:24px;
		text-decoration:none;
		font-weight:bold;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
		border-radius:12px;
		-moz-box-shadow:1px 1px 3px #000;
		-webkit-box-shadow:1px 1px 3px #000;
		box-shadow:1px 1px 3px #000;
	}

	.close:hover{
background:red;
}

#winnido
	{
	text-transform:capitalize;
	font-variant: small-caps;
	font-size:13px;
	text-align:center;
	width:auto;
	color:#fff;
	margin-top:-11px;
	/*border-bottom-style:solid;*/
	/*border-width:2px;*/
	border:1px solid #333;
	background-color:#1e1e1e;
	height:20px;
		-moz-border-radius-bottomright: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	}
